@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.titrelogo{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 1px 1px 5px #b7b4b4;
    position: relative;
    padding-bottom:5px;
    margin:0px;
}
.localisation{
    background-color: #eaeaea;
    text-align: center;
    margin:0px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-weight: bold;
    color: #515152;
}
.iconloc{
    margin-right: 15px;
}
.introduction{
    text-align: center;
    padding:35px;
    background-color: #f6f6f6;
}
.titreintro{
    margin:0px;
}
.texteintro{
    color:#4e4e4e;
}
.boutonintro{
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(#FF79DA, #9356DC);
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
    font-size:small;
    margin:25px 70px 0px 70px; /*a changer*/
}