@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.titrelogo{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 1px 1px 5px #b7b4b4;
    position: relative;
    padding-bottom:5px;
    margin:0px;
}
.localisation{
    background-color: #f1efef;
    text-align: center;
    margin:0px;
    padding:15px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-weight: bold;
    color: #515152;
}
.iconloc{
    margin-right: 15px;
}